<p style="color: green"><%= notice %></p>

<h1>Thres</h1>
<hr>

<div id="thres">
  <% @thres.each do |thre| %>
    <%= render thre %>
    <p>
      <%= link_to "Show this thread", thre %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New thread", new_thre_path %>
